:root {
    --color--brown: rgba(57, 20, 0, 0.64);
    --color--darkbrown: rgba(57, 20, 0, 1);
    --color--orange: #ef6d58;
    --color--lightorange: #fdf0e9;
    --color--blue: #28293e;
    --color--lightgray: rgba(255, 255, 255, 0.64);
    --color--salmon: rgba(243, 209, 191, 1);
    --color--white: #ffffff;
    --color--black: #000000;
}
